body{
     background-color: #033BBC;
}

.flex-column{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /*Display Flex is for easy centering without styling each element*/
}
h1{
    font-family: 'Bungee Spice', sans-serif;
    font-size: 100px;
    font-weight: 400;
    text-align: center;
    text-decoration: underline; 
    color: #ff1e00;
    display: flex;
    padding-bottom: 5px;
    position: relative;
    justify-content: center;
}
h1:before{
    content: "";
    position: absolute;
    width: 10%;
    height: 20px;
    bottom: 0;
    left: 45%;
    border-bottom: 5px solid #ff1e00;
}

p{
    font-family: 'Bungee Spice', sans-serif;
    font-size: 25px;
    font-weight: 900;
    color: rgb(255, 255, 255);
    text-align: center;
}

button{
    margin: 0 auto;
    width: max-content;
    /*Styles for the button is for centering*/
}

#line{
    background-image: linear-gradient(yellow,red);
    align-self: center;
    margin-top: 5vh;
    height: 5px;
    width: 90vw;
}